/* Page */
body {
	background: #f9e933;
	font-family: Calibri, Verdana, Helvetica, sans-serif;
}

header, main, footer {
	min-width: 855px;
}

header .container, main .container, footer .container {
	max-width: 855px;
	margin: auto;
}

/* URL */
a {
	color: #DC143C;
	text-decoration: none;
}

a:hover {
	color: #0000FF;
	text-decoration: none;
}

a:active {
	color: #000080;
	text-decoration: none;
}

a:visited {
	color: #800080;
	text-decoration: none;
}

/* Header Instances */
h1 {
	float: left;
	width: 570px;
	color: #A52A2A;
	font-weight: 500;
	font-style: oblique;
	font-size: 3em;
}

h2 {
	padding-top: 1.2em;
	padding-bottom: 0.3em;
	font-size: 1.75em;
}

h3 {
	padding-top: 1.2em;
	padding-bottom: 0.3em;
	font-size: 1.4em;
}

h5 {
	font-size: 1.1em;
	font-weight: 500;
	padding-bottom: 1em;
}

/* Header */
header {
	background: white;
	overflow: auto;
	border-bottom: 1px solid;
	border-color: #D3D3D3;
	padding-top: 1.5em;
	padding-bottom: 2em;
}

header nav {
	float: right;
	width: 285px;
	text-align: center;
}

/* Main */
main {
	background: white;
	overflow: auto;
}

main .contents {
	float: left;
	width: 570px;
}

main .img-container {
	float: right;
	width: 285px;
	text-align: center;
}

/* Footer */
footer {
	overflow: auto;
	padding-top: 2em;
}

footer .contact {
	float: left;
	width: 570px;
}

footer .contact p:first-of-type {
	color: #A52A2A;
	font-weight: 500;
	font-style: oblique;
	font-size: 1em;
}

footer .sitemap {
	float: right;
	width: 285px;
	text-indent: 2.6em;
}

.double-column li {
	float: left;
	width: 50%;
}

/* FAQ */
.faq-list {
	list-style-type: disc;
	margin-left: 1em;
}

.faq-question {
	font-size: 1.2em;
	margin-left: 1em;
	padding-bottom: 0.5em;
}

.faq-answer {
	font-style: oblique;
	margin-left: 3em;
	padding-bottom: 1em;
}